/* Give checked stars a different font*/
.checked {
    color:lightcoral;
}

 
/* Style inputs with type="text", select elements and textarea 
input[type="text"], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Add a bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

 /* Style the submit button with a speciffic backgorund colour etc 
input[type=submit]{
    background-color: rgb(128, 0, 36);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
 When moving the mouse over the submit buttom, add a darker green color 
input[type=submit]:hover {
    background-color: #f42d5b;
}

 Add a background color and some padding around the form 
.container {
    border-radius:  5px;
    background-color: #ef98ae4e;
    padding: 20px;
}

*/
